In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
# URL to scrape
url = 'https://webpages.charlotte.edu/mscipion/'

# Send HTTP request
response = requests.get(url)
response.raise_for_status()

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table
table = soup.find('table')

# Extracting table data
table_data = []
headers = []

# Extract headers
for th in table.find_all('th'):
    headers.append(th.text.strip())

# Extract rows
for row in table.find_all('tr')[1:]:  # Skipping the header row
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    table_data.append(cols)

# Create DataFrame
df = pd.DataFrame(table_data, columns=headers)

df

,Student,Favourite Computer Language,Years of Experience
0,Fred,Kotlin,4
1,Paula,Python,2
2,Ernst,Java,7
3,Isabel,C++,3
4,Tony,Pearl,7
5,Maria,Cobol,15